:root {
  --lightblue: rgb(105,179,231);
  --bluecolor: rgb(0,51,160);
  --orangecolor: rgb(207,69,32)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana,sans-serif
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px
}
.logWorkRussia {
  height: 100px;
  user-select: none
}
.navigation {
  margin-left: auto
}
.navigation a,
.select-role a {
  margin-left: auto;
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--lightblue);
  margin-left: 40px
}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--bluecolor);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s
}
.navigation a:hover::after {
  transform: scaleX(1)
}
.btnLogin {
  width: 130px;
  height: 50px;
  background: 0 0;
  border: 2px solid #fff;
  background-color: var(--lightblue);
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s
}
.btnLogin:hover {
  background: var(--bluecolor);
  color: #fff
}
.button-icon-versia-slabovid {
  height: 50px;
  width: 50px;
  background-image: url(../media/eye.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent
}