:root {
    --lightblue: rgb(105, 179, 231);
    --bluecolor: rgb(0, 51, 160);
    --orangecolor: rgb(207, 69, 32)
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif
  }
  
  .logWorkRussia {
      height: 100px;
      user-select: none
    }
  
  .header-content {
      margin: auto!important;
      max-width: 1200px;
  }
  
  .nav-link {
      color: var(--lightblue)!important;
  }